@charset "UTF-8";
.flex {
  background: #00bbdd;
  margin: 10px;
  width: 65px;
  padding: 10px;
  color: #fff;
  text-align: center;
}
.grid {
  background: #00bbdd;
  padding: 10px;
  color: #fff;
}
.flex-container-1 {
  display: flex;
  flex-direction: row;
}
.flex-container-2 {
  display: flex;
  flex-direction: row-reverse;
}
.flex-container-3 {
  display: flex;
  flex-direction: column;
}
.flex-container-4 {
  display: flex;
  flex-direction: column-reverse;
}
.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}
.justify-1 {
  display: flex;
  justify-content: flex-start;
}
.justify-2 {
  display: flex;
  justify-content: flex-end;
}
.justify-3 {
  display: flex;
  justify-content: center;
}
.justify-4 {
  display: flex;
  justify-content: space-between;
}
.justify-5 {
  display: flex;
  justify-content: space-around;
}
.grid-container-1 {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
}
.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 20px 0 20px 0;
}
.grid-container-3 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
}
.box {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap:10px;
  grid-template-rows: 100px 100px 100px;
  margin-top: 20px;
}
.red-box {
  grid-column: 1 / 3;
  background:#bb0700;
}
.green-box {
  background: #0bdd00;
  grid-row: 2/4;
}
.yellow-box {
  background: #d9dd00;
  grid-column: 2/4;
}